body {
	background-color: #f5cec7;
	font-family: helvetica;
	color: #9e504f;
}

h1{
	font-family: garamond;
	color: #b55c8a;
}

h2{
	font-family: garamond;
	color: #b55c8a;
}

table {
	font-family: helvetica;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	color: #9e504f;
	margin-left: 20px;
	border: 1px solid #ddd;
	padding: 8px;
	background-color: #ffb284;
}

td, th {
	border: 1px solid #ddd;
	padding: 8px;
}

th {
	background-color: #ffc98b;
}

tr:nth-child(even){
	background-color: #c6c09c;
}